.env
.envrc.enc
.sops.yaml
.envrc
.envrc.backup
.envrc.dec
target/
ignore.txt
tmp/
*.iml
.idea/
insert_to_test.sql
leovegas-eventhub-2.properties
./ignore
*ignore
*ignore*
bin/
.gradle/
build/
**/.terraform
**/terraform.tfstate.backup
**/terraform.tfstate
**/terraform.tfstate.d/**
